.first-part{
    background: url('../resources/Banner\ Image.png') no-repeat;
    border-radius: 16px;
    height: 600px;
    width: 1320px;
    background-size: cover;
    background-position: center;
   
}
/* header{
    margin: 120px 120px 120px 120px;
    display: block;
}  */
.block-word{
    display:block;
}
#bold{
    padding: 233px 344px 177px 344px;
    color:#FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
}
#happy{
    padding: 177px 531px 383px 530px;
    color:#FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#off{
    color:#F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#holiday{
    color:#F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#categories{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#photo2{
    width: 802.9px;
    height: 500px;
    position:absolute;
}
/* .container1{
    margin: 426px 258.1px 120px 259px;
} */
.second-part{
    margin: 120px 258.1px 120px 259px;
}
.third-part{
    display: block;
    background-image: url('../resources/Vectorrr.png') no-repeat;
    border-radius: 16px;
    height: 600px;
    width: 1320px;
    background-size: cover;
    background-position: center;
    color:#FFF;
}
#btn{
    color:#FFF;
}
.forth{
    border: 2px;
    background-color: pink;
    width: 1320px;
    height: 482px;
    text-align: center;
}
.btn2{
    color:#FFF;
    background-color: #F00;
}
.red-word{
    color:red;
}
.text-area{
    padding: 100px 386px 214px 385px;
}
